<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Fuente Roboto desde Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>

    <!-- Contenido principal -->
    <div class="content">
        {% block content %}
        <!-- Aquí va el contenido específico de cada página -->
        {% endblock %}
    </div>

    <!-- Fecha y hora fijas en la esquina inferior derecha -->
    <div class="fixed-info">
        <span style="font-weight: bold;">{{ today_date }}</span>
        <span id="time"></span>
    </div>

    <!-- Incluir el archivo JavaScript externo -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
