{% extends "base.html" %}

{% block title %}Pokémon List{% endblock %}

{% block content %}
    <h1>Pokémon List</h1>
    <div class="pokemon-list">
        {% for pokemon in pokemon_list %}
        <div class="pokemon-card">
            <div class="card-inner">
                <!-- Front of the card -->
                <div class="card-front">
                    <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}" class="sprite-front">
                    <div class="pokemon-info">
                        <h2>#{{ pokemon.id }} - {{ pokemon.name }}</h2>
                    </div>
                </div>

                <!-- Back of the card -->
                <div class="card-back">
                    <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}" class="sprite-small">
                    <h2>#{{ pokemon.id }} - {{ pokemon.name }}</h2>
                    <p><strong>Description:</strong> {{ pokemon.description }}</p>
                    <p><strong>Types:</strong> {{ pokemon.types | join(', ') }}</p>
                    <p><strong>Abilities:</strong></p>
                    <ul>
                        {% for ability in pokemon.abilities %}
                            <li>
                                {% if ability.is_hidden %}
                                    <span class="hidden-ability">{{ ability.name }} (Hidden)</span> - {{ ability.description }}
                                {% else %}
                                    {{ ability.name }} - {{ ability.description }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <p><strong>Height:</strong> {{ pokemon.height }} dm</p>
                    <p><strong>Weight:</strong> {{ pokemon.weight }} hg</p>
                    <button onclick="playCry('{{ pokemon.id }}')">Play Cry</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
